.navbar {
    background-color:  rgb(239, 68, 159);;
}

.nav a {
    color: black;
    }

.hero {
    background: url('/images/pexels-goochie-poochie-grooming-3299905.jpg') center center/cover no-repeat;
    padding: 200px 0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  .features {
    padding: 100px 0;
    text-align: center;
    background-color: rgb(239, 68, 159);
  }
  
  .features i {
    font-size: 4rem;
    color: #f39c12;
    margin-bottom: 20px;
  }
  
  .testimonials {
    padding: 100px 0;
  }
  
  .testimonial {
    background-color: pink;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  footer {
    padding: 30px 0;
  }
  
  
  @media (max-width: 768px) {
    .hero {
      padding: 150px 0;
    }
  
    .features {
      padding: 80px 0;
    }
  
    .features i {
      font-size: 3rem;
    }
  
    .testimonial img {
      width: 80px;
      height: 80px;
    }
  }

  footer {
    background-color: #333;
    color: #fff;
     padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  footer:hover {
    background-color: rgb(239, 68, 159);;
  }

  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #fff;
    font-size: 1.5rem;
  }

  .social-icons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #c300ff;
  }
  
  .fa-facebook:before {
    content: "\f09a";
  }
  
  .fa-twitter:before {
    content: "\f099";
  }
  
  .fa-instagram:before {
    content: "\f16d";
  }